/* ---------------------------------------------------------------*/
/* --------------        Подключение шрифтов       -------------- */
/* ---------------------------------------------------------------*/

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src:  url('../fonts/ptsans.woff2') format('woff2'),
        url('../fonts/ptsans.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans Bold';
  font-style: normal;
  font-weight: 700;
  src:  url('../fonts/ptsansbold.woff2') format('woff2'),
        url('../fonts/ptsansbold.woff') format('woff');
}
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src:  url('../fonts/cuprum.woff2') format('woff2'),
        url('../fonts/cuprum.woff') format('woff'),
        url('../fonts/cuprum.ttf');
}
@font-face {
  font-family: 'Cuprum Italic';
  font-style: italic;
  font-weight: 400;
  src:  url('../fonts/cuprumitalic.woff2') format('woff2'),
        url('../fonts/cuprumitalic.woff') format('woff'),
        url('../fonts/cuprumitalic.ttf');
}
@font-face {
  font-family: 'Cuprum Bold';
  font-style: normal;
  font-weight: 700;
  src:  url('../fonts/cuprumbold.woff2') format('woff2'),
        url('../fonts/cuprumbold.woff') format('woff'),
        url('../fonts/cuprumbold.ttf');
}

/* ---------------------------------------------------------------*/
/* -------------- Общие правила для всего документа --------------*/
/* ---------------------------------------------------------------*/
body {
  font-family: "Cuprum", "Arial", sans-serif;
  margin:0;
  padding:0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* ****************************************************************/
/* --------------      Правила для index.html       --------------*/
/* ---------------------------------------------------------------*/

/* ---------------------------------------------------------------*/
/* --------------             Заголовок             --------------*/
/* ****************************************************************/

/* --------------    Верхняя тёмная часть           --------------*/
.header-top {
  color: #fff;
  background-color: rgb(41, 52, 73);
  font-size: 17px;
}
.header-top ul {
  margin:0;
  padding: 0;
  list-style: none;
}
/* Закладки, корзина и "оформить заказ". Кроме логотипа */
.header-top a {
  color: inherit;
  background-color: inherit;
}
/* Логотип */
.header-logo-item {
  color: #fff;
  background-color: rgb(238, 54, 67);
}
.header-logo-item:hover {
  color: #fff;
  background-color: rgb(202, 44, 55);
}
.header-logo-item:active {
  color: #fff;
  background-color: rgb(186, 39, 50);
}
.header-logo {
  color: inherit;
  background-color: inherit;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
}
/* ***************** Поле поиска ********************/
.header-search-input  {
  position: relative;
  color: #fff;
  font-family: "Cuprum", "Arial", sans-serif;
  border: none;
  background-color: rgb(41, 52, 73);
  /*лупа должна быть бледно серая*/

}
.header-search-input:hover {
  color: #fff;
  /*становится белая, бекграунд более синий*/
  background-color: rgb(33,42,58);
}
.header-search-input:focus {
  color: #000;
  background-color: #fff;
}
.header-search-label {
  position: relative;
  display: block;
  width: 0;
  height: 0;
}
/* Поле поиска - иконка*/
.header-search-label::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  opacity: 0.6;
  width: 16px;
  height: 16px;
  left: 18px;
  top: -27px;
  z-index: 20;
}
.header-search-input:hover + .header-search-label::before {
  opacity: 1;
}
.header-search-input:focus + .header-search-label::before {
  background-image: url("../img/icon-search-red.svg");
  opacity: 1;
}
/*******************************************************/

/* Закладки и корзина */
.header-shortcuts, .header-basket {
  position: relative;
  color: #fff;
  background-color: rgb(41, 52, 73);
}
.header-shortcuts:hover, .header-basket:hover {
  color: #fff;
  background-color: rgb(33,42,58);
}
.header-shortcuts:active, .header-basket:active {
  color: #fff;
  opacity: 0.6;
  background-color: rgb(22,29,41);
}
.header-shortcuts::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  left: 30px;
  top: 12px;
}
.header-basket::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  left: 16px;
  top: 12px;
}
/*кнопка становится красной, если какой-то товар добавлен в корзину или в закладки*/
.header-item-active {
  background-color: rgb(238, 54, 67);
}
.header-shortcuts a, .header-basket a, .header-makeorder a {
  text-decoration: none;
}
.highlighted {
  color: #fff;
  background-color: rgb(99, 166, 62);
}
.highlighted:hover {
  color: #fff;
  background-color: rgb(95, 187, 45);
}
.highlighted:active {
  color: #fff;
  opacity: 0.6;
  background-color: rgb(81, 133, 52);
}

/* --------------            Средняя часть           --------------*/
.header-middle, .header-bottom {
  color: #fff;
  background-color: rgb(241, 245, 247);
  /*border: 1px dashed red;*/
}
/* Миссия */
.header-mission {
  color:rgb(238, 54, 67);
  background-color: rgb(241, 245, 247);
  font-family: "Cuprum Italic", "Arial", sans-serif;
  font-size: 16px;
  line-height: 23px;
}
/* Адрес - телефон */
.header-address {
  color: rgb(50, 66, 92);
  background-color: rgb(241, 245, 247);
  font-size: 14px;
  line-height: 24px;
}
.header-calllink {
  color:rgb(233, 41, 42);
  background-color: rgb(241, 245, 247);
  font-size: 21px;
  text-decoration: none;
}
.header-calllink::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  left: 12px;
  top:10px;
}

/* Логин и регистрация */
.header-enterlink, .header-registerlink {
  color:#000;
  background-color: #fff;
  font-size: 21px;
  text-decoration: none;
}
.header-enterlink:hover, .header-registerlink:hover {
  color: rgb(238, 53, 67);
  background-color: #fff;
}
.header-enterlink:active, .header-registerlink:active {
  color: #000;
  opacity: 0.3;
  background-color: #fff;
}
.header-enterlink a, .header-registerlink a {
  color: inherit;
  background-color: inherit;
}
.header-enterlink::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  width:20px;
  height: 20px;
  top:14px;
  left: 10px;
}

/* --------------            Главное меню           --------------*/
.mainmenu {
  color: #fff;
  background-color: rgb(50, 66, 92);
  font-size: 17px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.mainmenu-item:hover {
  color: #fff;
  background-color: rgb(41, 52, 73);
}
.mainmenu-item:active {
  color: #fff;
  opacity: 0.5;
  background-color: rgb(29, 39, 57);

}
.mainmenu-item a {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

/* ---------------------------------------------------------------*/
/* --------------         Основное содержимое       --------------*/
/* ---------------------------------------------------------------*/

.index-container {
  color: #fff;
}
/* Таблица без названия, материалы, инструмент и прочее... */
.offering-item {
  background-repeat: no-repeat;
  text-decoration: none;
}
.materials {
  color: #fff; background-color: rgb(255, 191, 71);
  background-image: url("../img/symbol_bucket.png");
  background-position: right 44px top 30px;
}
.tools{
  color: #fff; background-color: rgb(59, 188, 227);
  background-image: url("../img/symbol_drill.png");
  background-position: right 27px top 30px;
}
.machines {
  color: #fff; background-color: rgb(220, 145, 216);
  background-image: url("../img/symbol_tractor.png");
  background-position: right 30px top 30px;
}
.revolver {
  position: relative;
  color: #fff; background-color: rgb(157, 140, 119);
  background-repeat: no-repeat;
  width: 620px;
  height: 264px;
  z-index: 1;
}
.perforator {
  background-image: url("../img/slider_1-min.jpg");
}
.drill {
  background-image: url("../img/layer125.png"),
                    url("../img/slider_2-min.jpg");
  background-position: 289px 0, 0 0;

}
.revolver::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  z-index: -1;
  width: 620px;
  height: 264px;
  opacity: 0.3;
  top:0;
  left: 0;
}
.perforator::after {
  background-image: url("../img/slider_1_mask.png");
}
.drill::after {
  background-image: url("../img/slider_2_mask.png");
}
.revolver-header {
  font-size: 36px;
  text-transform: uppercase;
  z-index: 100;
  display: none;
}
.revolver-description {
  font-family: 'PT Sans';
  font-size: 18px;
  z-index: 100;
  display: none;
}
.revolver-header.show, .revolver-description.show {
  display: block;
}

.scroll-left, .scroll-right {
  position: absolute;
  content: "";
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  top: 113px;
  cursor: pointer;
}
.scroll-left {
  background-image: url("../img/icon-left.svg");
  left: 25px;
}
.scroll-right {
  background-image: url("../img/icon-right.svg");
  right: 2px;
}
.scroll-left:active {
  transform: translateX(-3px);
}
.scroll-right:active {
  transform: translateX(3px);
}

.scroll-indicator-left, .scroll-indicator-right {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  top: 219px;
}
.scroll-indicator-left {
  left: 296px;
}
.scroll-indicator-right {
  left: 315px;
}
.scroll-indicator-left.active::after, .scroll-indicator-right.active::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-color: rgba(238, 54, 67, 0.5);
  border-radius: 50%;
  top:2px;
  left: 2px;
}
.discount {
  color: #fff; background-color: rgb(142, 215, 143);
  background-image: url("../img/symbol_basket.png");
  background-position: right 45px top 25px;
}
.delivery {
  color: #fff; background-color: rgb(255, 192, 71);
  background-image: url("../img/symbol_car.png");
  background-position: right 30px top 31px;
}
.offering-category {
  font-size: 24px;
}

.mainpage-link {
  color: #fff;
  background-color: rgb(238, 54, 67);
  font-size: 14px;
  text-transform: uppercase;
  text-decoration:none;
  cursor: pointer;
}
.mainpage-link:hover {
  background-color: rgb(202, 44, 55);
}
.mainpage-link:active {
  background-color: rgb(186, 39, 50);
}

.offering-transparentbox {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  text-transform: uppercase;
  text-decoration:none;
}
.offering-transparentbox:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.offering-transparentbox:active {
  background-color: rgba(0, 0, 0, 0.3);
}
/* ---------------------------------------------------------------*/
/* --------------        Популярные товары          --------------*/
/* ---------------------------------------------------------------*/
/* Розовый бар, заголовок раздела популярные товары*/
.popular header {
  color: rgb(50, 66, 92);
  background-color: rgb(249, 245, 240);
}
.section-title-header {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}
.popular-list {
  padding: 0;
  list-style: none;
}
/* ----------------------- Карточка товара -----------------------*/
/* Общее описание карточки */
.product-card {
  color:#000; background-color: #fff;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 18px;
}
/*псевдоэлемент флага нового продукта*/
.newproduct::after {
  content: "";
  position:absolute;
  background-image: url("../img/label_new_text.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  top:-1px;
  right:-1px;
  width:60px;
  height:60px;
  z-index: 30;
}
/* Модальный блок с кнопками */
.buy-block {
  background-color:rgba(255,255,255,0.9);
  z-index:10;
  display: none;
}
/*...появляeтся при наведении на карточку товара*/
.product-card:hover .buy-block {
  display: block;
}
/*...и тень*/
.product-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.buy-button, .to-favorities-button {
  position: relative;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: rgb(99, 166, 62);
  border:3px solid rgb(99, 166, 62);
  padding: 7px 0;
  border-radius:3px;
  cursor: pointer;
}

.buy-button {
  border-bottom-color:rgb(81, 133, 52);
}
/* Кнопка "Купить" */
.buy-button::before {
  position: absolute;
  content: "";
  background: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  left: 10px;
  top:8px;
  /*color: rgb(146, 193, 120);*/
}
.buy-button:hover {
  color: #fff;
  background-color: rgb(95, 187, 45);
  border-color: rgb(95, 187, 45);
  border-bottom-color:rgb(81, 133, 52);
}
.buy-button:active {
  color: #fff;
  background-color: rgb(81, 133, 52);
  border-color: rgb(81, 133, 52);
}

/* Кнопка "Добавить в закладки" */
.to-favorities-button {
  color: rgb(50, 66, 92);
  background-color: #fff;

}
.to-favorities-button:hover {
  border-color: rgb(50, 66, 92);
}
.to-favorities-button:active {
  color: rgba(50, 66, 92, 0.3);
  border-color: rgb(193, 198, 206);
}

/* Зачёркнутая старая цена" */
.product-oldprice {
  color: rgb(169, 169, 169);
  font-size: 17px;
  text-transform: uppercase;
}
/* Новая цена на красном флажке" */
.product-price {
  color: #fff;
  background-color: rgb(238, 54, 67);
  font-size: 17px;
  text-transform: uppercase;

}

/* Популярные производители */
.vendor-list {
  list-style: none;
  padding: 0
}
.vendor-item {
  background-color: white;
}
/*...и тень*/
.vendor-item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.vendor-item:active {
  opacity: 0.3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  /* Написать что-то какой-то фильтр для старого IE */
}

/* ---------------------------------------------------------------*/
/* --------------             Сервисы               --------------*/
/* ---------------------------------------------------------------*/
.services {
  color: #000;
  background-color: rgb(242, 246, 248);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-delivery {
  background-image: url("../img/delivery.png"),
                    url("../img/delivery_shade.png");
  background-repeat: no-repeat;
  background-position: 732px 262px, 472px 262px;
}
.services-warranty {
  background-image: url("../img/warranty.png"),
                    url("../img/warranty_shade.png");
  background-repeat: no-repeat;
  background-position: 770px 250px, 552px 260px;
}
.services-loan {
  background-image: url("../img/loan.png"),
                    url("../img/loan_shade.png");
  background-repeat: no-repeat;
  background-position: 750px 250px, 465px 250px;
}
.services-menu {
  list-style: none;
  padding:0;
}
/* Нажатая кнопка на hover не реагирует */
.services-menu-item-active {
  color: rgb(50, 66, 92);
  background-color: #fff;
  font-family: "Cuprum Bold", "Arial", sans-serif;
  font-size: 21px;
}
/* Не нажатая кнопка в покое*/
.services-menu-item-inactive {
  color: #fff;
  background-color: rgb(50, 66, 92);
  font-family: "Cuprum Bold", "Arial", sans-serif;
  font-size: 21px;
  border-bottom: 1px solid rgb(78, 99, 124);
}
/*.services-menu-item-inactive:nth-child(2) {
  border-bottom: 1px solid rgb(78, 99, 124);
}*/
/* Не нажатая кнопка реагирует на hover */
.services-menu-item-inactive:hover {
  color: #fff;
  background-color: rgb(41, 52, 73);
}
.services-menu-item-inactive:active {
  color: rgb(50, 66, 92);
  background-color: #fff;
}

.services-link {
  color:inherit;
  background-color: inherit;
  text-decoration: none;
}

/*декоративный элемент - полоска справа*/
.services-menu::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 260px;
  top:-40px;
  right: 0;
  /*background-color: #000;*/
  background-image: url("../img/vertical_bar.png");
  background-repeat: no-repeat;
  background-size: 10px 260px;
  z-index: 10;
}
/*  Описание сервиса */
.services-description h3 {
  color: rgb(50, 66, 92);
  background-color: rgb(242, 246, 248);
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: -0.01em;
}
.services-slogan, .services-description p {
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: 24px;
}
.services-description p {
  /*letter-spacing: 0.01em;*/
}
.loan-link {
  width: 196px;
}
/*  ************* Белая дополнительная секция - о компании Техномарт - и контакты ************  */
.ourcompany, .ourcontacts {
  color:#000;
  background-color: #fff;

}
.ourcompany-description, .ourcontacts-description {
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: 24px;
}
/* транспортные компании */
.transport-list {
  font-size: 18px;
  padding: 0;
  list-style: none;
}
.transport-list li {
  position: relative;
}
.transport-list li::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  top:20px;
  left: -36px;
  background-color: rgb(238, 54, 67);
}

/* ---------------------------------------------------------------*/
/* --------------              Футер                --------------*/
/* ---------------------------------------------------------------*/

/* -----------  Верхняя немного более светлая часть --------------*/
.footer-top {
  color: #fff; background-color: rgb(50, 66, 92);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
}
.main-footer-logo {
  color: #fff;
  background-color: rgb(238, 54, 67);
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-address {
  text-decoration: none;
  letter-spacing: 0.01em;
}
.footer-navigation ul {
  padding: 0;
  list-style: none;
}
/*верхняя строка меню в футере*/
.footer-navigation-item {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}
.footer-navigation-item:hover {
  text-decoration: underline;
}
.footer-navigation-item:active {
  text-decoration: none;
  opacity: 0.5;
}
/*нижняя строка меню в более светлом футере*/
.footernav-highlighted, .footer-highlightedlink {
  color: rgb(255, 208, 128);
  background-color: inherit;
}

/* ------------ Нижняя немного более темная часть -------------- */
.footer-bottom {
  color: #fff;
  background-color: rgb(41, 52, 73);
  font-size: 16px;
}
.footer-social ul {
  padding: 0;
  list-style: none;
}
.social-link {
  color: #fff;
  background-color: rgb(33, 42, 58);
  width: 40px;
  height:40px;
  border-radius: 50%;
}
.social-link:hover {
  color: #fff;
  background-color: rgb(238, 54, 67);
}
.vkontante, .facebook, .instagram {
  position: relative;
  display: block;
  width: 0;
  height: 0;
}
.vkontante::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-vk.png");
  background-repeat: no-repeat;
  top: 14px;
  left:9px;
  width: 30px;
  height:30px;
}
.facebook::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-fb.png");
  background-repeat: no-repeat;
  top: 10px;
  left:15px;
  width: 30px;
  height:30px;
}
.instagram::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-insta.png");
  background-repeat: no-repeat;
  top: 10px;
  left:8px;
  width: 30px;
  height:30px;
}
/*линки с e-mail адресами*/
.footer-highlightedlink {
  text-decoration: none;
}
.footer-highlightedlink:hover {
  text-decoration: underline;
}
.footer-highlightedlink:active {
  text-decoration: none;
  color: rgb(238, 54, 67);
}

/* ---------------------------------------------------------------*/
/* -------------    Модальное окно index write-us      -----------*/
/* ---------------------------------------------------------------*/
/* Красная линия */
.write-us {
  position: absolute;
  top:0;
  left:0;
  color:#000;
  background-color: #fff;
  border-top: 7px solid rgb(255, 83, 87);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
  z-index: 100;
}
.write-us-wrapper {
  position: relative;
}
.write-us-label {
  font-size: 18px;
}
.write-us-header input, .write-us-central textarea {
  display: block;
   font-size: 12px;
   border: 1px solid rgb(222, 227, 228);
   border-radius: 2px;
}

.write-us-bottom {
  color:#000;
  background-color: rgb(244, 244, 244);
}
.write-us-button {
  color:#fff;
  background-color: rgb(238, 54, 67);
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  padding: 0;
  border: none;
}
/* крест для закрытия окна */
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 8px;
  width: 27px;
  height: 5px;
  border-radius: 2px;
  background-color: rgb(255, 83, 87);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}
/* ---------------------------------------------------------------*/
/* -------------      Модальное окно index map         -----------*/
/* ---------------------------------------------------------------*/

.map {
  position: absolute;
  top:0;
  left:0;
  color:#000;
  background-color: #ccc;
  background-image: url("../img/map_big.jpg");
  width: 100%;
  height: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
  z-index: 2;
}
.map-close {
  z-index: 4;
}
/*
.yandex-reference {
  width: 940px;
  height: 446px;
}*/
/* ****************************************************************/
/* --------------      Правила для catalog.html       ------------*/
/* ---------------------------------------------------------------*/

/* ---------------------------------------------------------------*/
/* --------------             Заголовок             --------------*/
/* ****************************************************************/

/* окно с залогиненным пользователем*/
.header-username {
  position: relative;
  display: flex;
  align-items: center;
  color:#000;
  background-color: #fff;
  font-size: 21px;
  text-decoration: none;
  height: 45px;
  padding-left: 48px;
}
.username-link {
  text-decoration: none;
  color: inherit;
}
.username-link::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-user.png");
  background-repeat: no-repeat;
  width:20px;
  height: 20px;
  top:13px;
  left: 15px;
}
.logout-icon {
  position: relative;
  display: block;
}
.logout-icon::after {
  position: absolute;
  content: "";
  background-image: url("../img/icon-logout.png");
  background-repeat: no-repeat;
  width:20px;
  height: 20px;
  top:-10px;
  right: -58px;
}
/* линки на мои заказы и личный кабинет*/
.user-link {
  position: relative;
  color: rgb(50, 66, 92);
  font-size:16px;
  text-decoration: underline;
}

.user-link:last-child::before {
  position: absolute;
  content: "";
  display: block;
  background-color: rgb(50, 66, 92);
  width: 4px;
  height: 4px;
  top:8px;
  left: -18px;
  border-radius: 50%;
}
/* ---------------------------------------------------------------*/
/* --------------     Центральная часть экрана      --------------*/
/* ---------------------------------------------------------------*/
.catalog-container {
  color:#000;
  background-color: #fff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}
/* breadcrumbs */
.breadcrumbs ul {
  padding: 0;
   list-style: none;
}
.breadcrumbs-item a {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}
.breadcrumbs-item::before {
  /* content: url("../img/icon-right-small.png"); -заменено по рекомендации наставника */
  content: ">";
  color: rgb(193, 198, 206);
  margin-right: 18px;
}
.breadcrumbs-item-home::before {
  content: url("../img/icon-home.png");
}

/* фон наименования раздела */
.catalog-header-box {
  color: rgb(50, 66, 92);
  background-color: rgb(243, 247, 248);
}
/* класс действует и для фильтра и для сортера*/
.catalog-header {
  color: inherit;
  background-color: rgb(247, 243, 236);
}
/* подраздел фильтр по... */
.filter-display-name {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 17px;
}

/* фильтры */
/*******************   СЛАЙДЕР    *******************/
.filter-sliderbox {
  background-color: rgb(247, 243, 236);
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-min, .slider-max {
  display: none;
}
/*линия № 9*/
.slider-background {
  width: 180px;
  height: 2px;
  background-color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*линия № 2*/
.slider-foreground {
  height: 2px;
  min-width: 1px;
  flex-grow: 1;
  background-color: rgb(0, 202, 116);
}
.minprice, .maxprice {
  position: relative;
  width: 0;
  height: 0;
  background-color: #000;
}
/*указатели наименьшей и наибольшей цены*/
.minprice {
  margin-left: 0px;
}
.maxprice {
  margin-right: 30px;
}
.minprice::before, .maxprice::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: -10px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
  z-index: 50;
  cursor: pointer;
}
.minprice::before {
  left:0;
}
.maxprice::before {
  right:0;
}
.minprice::after {
  left: 7px;
}
.maxprice::after {
  right:7px;
}
.minprice::after, .maxprice::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: -3px;
  background-color: #aaa;
  border-radius: 50%;
  z-index: 51;
}

.filter-rangebox span {
  display: flex;
  align-items: center;
}
/*мин. и макс. значение цены*/
.price-minvalue, .price-maxvalue {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  background-color: rgb(247, 243, 236);
  border: none;
  display: block;
  width: 94px;
  height: 37px;
  text-align: center;
  -moz-appearance:textfield;
}
/****************************************************/

/*класс для фильтра по производителям и по типу*/
.filter-list {
  padding: 0;
  list-style: none;
}
.filter-label-checkbox {
  font-size: 15px;
}
.filter-label-radio {
  font-size: 14px;
}
/* заменяю стандартные чекбоксы и радиокнопки на укрупнённые*/
/**************************************************************************/
.filter-item {
  position: relative;
}
.filter-input-checkbox + .checkbox-indicator {
  position: absolute;
  top: -2px;
  left: -32px;
  width: 17px;
  height: 17px;
  border: 2px solid #aaa;
  border-radius: 2px;
  cursor: pointer;
}
/*.filter-item input[type="checkbox"]:checked + .checkbox-indicator::before {*/
.filter-input-checkbox:checked + .checkbox-indicator::before,  .filter-input-checkbox:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;

  background-color: #000000;
}
.filter-input-checkbox:checked + .checkbox-indicator::before {
  top: 8px;
  left: 1px;
  width: 10px;
  height: 3px;
  background-color: #aaa;
  transform: rotate(45deg);
  z-index: 61;
}
.filter-input-checkbox:checked + .checkbox-indicator::after {
  top: 5px;
  left: 5px;
  width: 18px;
  height: 3px;
  background-color: #aaa;
  border: 1px solid white;
  transform: rotate(-45deg);
  z-index: 51;
}
.filter-input-checkbox {
  display: none;
}
/*************************** то же, radio *********************************/
.filter-input-radio + .checkbox-indicator {
  position: absolute;
  top: -2px;
  left: -33px;
  width: 19px;
  height: 19px;
  border: 2px solid #aaa;
  border-radius: 50%;
  cursor: pointer;
}
/*.filter-item input[type="checkbox"]:checked + .checkbox-indicator::before {*/
.filter-input-radio:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;

  background-color: #000000;
}
.filter-input-radio:checked + .checkbox-indicator::before {
  top: 5px;
  left: 5px;
  width: 9px;
  height: 9px;
  background-color: #aaa;
  border-radius: 50%;
}

.filter-input-checkbox, .filter-input-radio {
  display: none;
}
/**************************************************************************/
/*кнопка подтверждения фильтра*/
.filter-submit {
  width: 140px;
  height: 37px;
  background-color: #fff;
  font-family: "PT Sans", "Arial", sans-serif;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  border: 1px solid rgb(247, 243, 236);
  cursor: pointer;
}

/* сортировка */
.sorter-list {
  padding: 0;
  list-style: none;
}
/* --------------- кнопки сортировки -----------------*/

.sorter-radio {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: rgb(238, 64, 67);
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  color: #000;
  opacity: 0.3;
}
.sorter-selected {
  text-decoration: none;
  color: rgb(238, 64, 67);
  opacity: 1;
}

/*треугольники для выбора порядка сортировки*/
.sorter-ascending, .sorter-descending {
  display: block;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 5px;
  border-left-width: 5px;
}
.sorter-ascending {
  border-bottom: 10px solid rgb(197, 197, 197);
}
.sorter-descending {
  border-top: 10px solid rgb(197, 197, 197);
}
.sorter-ascending.order-selected {
  border-bottom: 10px solid rgb(238, 64, 67);
}
.sorter-descending.order-selected {
  border-top: 10px solid rgb(238, 64, 67);
}

/* ----------- Детали товара, главная центральная часть экрана -------- */
.catalog-list {
  padding: 0;
  list-style: none;
}

/* Навигация по страницам */
.pagenumber-list {
  padding: 0;
  list-style: none;
}

.pagenumber-item {
  color: #000;
  background-color: #fff;
  border: 1px solid rgb(229, 229, 229);
  text-decoration: none;
}
.pagenumber-active {
  color: #fff;
  background-color: rgb(238, 54, 67);
}


/* Комментарий к категории*/
.category-comment {
  color: #000;
  background-color: rgb(242, 246, 248);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.category-comment {
  text-transform: none;
}

/* ---------------------------------------------------------------*/
/* -------------    Модальное окно catalog basket      -----------*/
/* ---------------------------------------------------------------*/
/* Красная линия */
.basket {
  position: absolute;
  top:0;
  left:0;
  color:#000;
  background-color: #fff;
  border-top: 6px solid rgb(255, 83, 87);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
  z-index: 100;
}
.basket-wrapper {
  position: relative;
}
.basket-header {
  position: relative;
}
.basket-header::before {
  position: absolute;
  content: "";
  background-image: url("../img/added_to_basket.png");
  background-repeat: no-repeat;
  width:80px;
  height: 80px;
  top:-14px;
  left: -90px;
}
.basket-bottom {
  color:#000;
  background-color: rgb(244, 244, 244);
}
.basket-button, .basket-button-inactive  {
  color:#fff;
  width: 220px;
  background-color: rgb(238, 54, 67);
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  padding: 0;
  border: none;
  cursor: pointer;
}
.basket-button-inactive {
  background-color: #fff;
  color: #000;
}

/* ****************************************************************/
/* ****************************************************************/


/* --------------              С Е Т К А            --------------*/


/* ****************************************************************/
/* ****************************************************************/
/* ---------------------------------------------------------------*/

/*------------------- верхняя cиняя часть заголовка -----------------*/
.header-top{
  min-width:1200px;
}
.header-top-wrapper {
  width:940px;
  margin: 0 auto;
}
.header-top-wrapper ul {
  display: flex;
  flex-direction: row;
  min-height: 42px;
}
/*логотип Техномарт*/
.header-logo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  /* сделаем полосу снизу, чтобы выпадала */
  border-bottom: 5px solid rgb(181, 41, 51);
  margin-bottom: -5px;
}
/*поле поиска с лупой*/
.header-search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:0;
  margin-right:auto;
  width: 260px;
  height: 42px;
  padding-left: 50px;
  padding-right: 20px;
}
/*в закладки и корзина*/
.header-shortcuts {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 56px;
  margin-right: 0;
  width: 165px;
}
.header-basket {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 48px;
  margin-right: 0;
  width: 150px;
}


/*оформить заказ*/
.header-makeorder {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 150px;
}

/*--------------- средняя синяя часть заголовка ---------------*/
.header-middle {
  min-width: 1200px;
}
.header-middle-wrapper {
  display: flex;
  flex-direction: row;
  width: 940px;
  margin: 0 auto;
  min-height: 158px;
  align-items: flex-start;
  justify-content: space-between;
  /*border: 1px dashed red;*/
}
/* красная миссия*/
.header-mission {
  display: block;
  width: 197px;
  margin: 48px 0 40px 52px;
  /*border: 1px dashed black;*/
}
/*обертка для телефона и адреса*/
.header-address {
  margin-top: 48px;
  margin-left: 68px;
  width: 264px;
}
/*рамка с телефоном*/
.header-calllink {
  display: block;
  position: relative;
  border: 3px solid white;
  padding: 6px 20px 8px 70px;
}
/*адрес*/
.header-address p {
  margin-top: 2px;
  text-align:center;
}
/*обёртка для "войти" и "регистрация"*/
.not-logged-in {
  display: none;
  flex-direction: row;
  margin-left: 67px;
  margin-top: 47px;
  /*border: 1px dashed black;*/
}
.not-logged-in.show {
  display: flex;
}
/*кнопка войти*/
.header-enterlink {
  position: relative;
  display: flex;
  width: 121px;
  height: 45px;
  align-items: center;
  margin-left: auto;
  justify-content: flex-end;
}
/*надпись на кнопке войти*/
.header-enterlink span {
  margin-right: 25px;
}
/*регистрация*/
.header-registerlink {
  display: flex;
  width: 150px;
  height: 45px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}

/*------------- главное меню --------------*/
/*контейнер главного меню с серым фоном*/

.header-bottom {
  display: flex;
  flex-direction: row;
  min-width: 1200px;
  justify-content: center;
  /*border: 1px dashed red;*/
}
/*главное меню с синим фоном*/
.mainmenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 940px;
  min-height: 56px;
  margin-bottom: 60px;
  border-bottom: 5px solid rgb(41, 52, 73);
  justify-content: space-between;
}
/*пункт главного меню*/
.mainmenu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 56px;
}
.mainmenu-item a {
  margin: 0 30px;
}
.mainmenu-item:first-child {
  margin-left: 22px;
}
.mainmenu-item:last-child {
  margin-right: 24px;
}
/* ---------------------------------------------------------------*/


/*--------                Главный экран                     ------*/


/* ---------------------------------------------------------------*/
/*контейнер главного экрана*/
.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width:1200px;

  /*border: 1px dashed red;*/
}
/*-------- Секция с блоками без названия - категории товаров ------*/
.offering {
  display: flex;
  flex-direction: row;
  width: 940px;
  margin: 60px auto 54px auto;
  justify-content: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
}
/*блок на секции без названия*/
.offering-item {
  position: relative;
  width: 300px;
  height: 122px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.materials, .tools {
  margin: 0 20px 20px 0;
}
.revolver {
  margin-right: 20px;
}
/*заголовок на блоке*/
.offering-category {
  margin: 0;
  margin-left: 22px;
  margin-top: 20px;
}
/*кнопка с линком на блоке*/
.offering-transparentbox {
  margin-left: 24px;
  margin-bottom: 22px;
  display: flex;
  width: 137px;
  height: 39px;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 3px;
}
/*большой слайдер*/
.revolver {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
/*заголовок*/
.revolver-header {
  margin: 18px 0 0 24px;
}
/*подпись к слайдеру*/
.revolver-description {
  margin-left: 26px;
  margin-top: 0px;
  margin-bottom: auto;
}
/*красные кнопки с линками*/
.mainpage-link {
  display: flex;
  height: 39px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
/*отступы красной кнопки*/
.revolver .mainpage-link {
  margin-left: 27px;
  margin-bottom: 20px;
  width: 195px;
}
/*два блока один под другим*/
.offering-aside {
  display: flex;
  height: 264px;
  flex-direction: column;
  justify-content: space-between;
}

/*----------  популярные товары -----------*/
/*заголовок*/
.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 940px;
  box-sizing: border-box;
  margin: 2px auto 20px auto;
  padding: 23px 22px 24px 28px;
  /*высота блока составит 39px+2*22px=83px*/
}
/*обнуляем маржины у внутренних элементов*/
.section-title-header {
  margin: 0;
}
/*красная кнопка*/
.section-title .mainpage-link {
  width: 254px;
}

/* ------------ список из 4 карточек популярных товаров -------------*/
.popular {
  width: 940px;
  margin: 0 auto;
}
.popular-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.popular-item {
  margin:0 20px 20px 0;
}
/* ++++++++ карточка товара ++++++++*/
.product-card {
  position: relative;
  display:inline-block;
  width:220px;
  border:1px solid #ccc;
  text-align: center;
  box-sizing: border-box;
}
/*у крайней справа убираем отступ справа*/
.popular-item:nth-child(4n) {
  margin-right: 0;
}
/*флаг нового продукта*/
.newproduct {
  position: relative;
}
/*изображение товара*/
.product-image {
  display: flex;
  width:218px;
  height:168px;
  align-items: center;
  justify-content: center;
}

/*кнопки в модальном блоке*/
.buy-block {
  position:absolute;
  width:218px;
  height: 88px;
  top:0;
  left:0;
  padding:40px 0;
}

/*кнопки купить и добавить в закладки*/
.buy-button, .to-favorities-button {
  display:block;
  width:129px;
  margin:0 auto;
  margin-bottom:7px;
  padding:7px 0;
}
/*наименование товара*/
.product-name {
    min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:auto;
}
/*старая цена*/
.product-oldprice {
    min-height:20px;
    margin-top:10px;
    margin-bottom:10px;
}
/*актуальная цена*/
.product-price {
    display: block;
    position:relative;
    width:80px;
    margin:10px auto 18px auto;
    padding:10px 30px;
    border-radius:3px;
}
/*флажок актуальной цены*/
.product-price:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;

    border-left-color:#ee3643;
}

/*----------  популярные производители -----------*/
.vendor-list {
  /*width: 960px;*/
  /*border: 1px dashed red;*/
  margin-left: -20px;
  margin-bottom: 63px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
/*блок производителя*/
.vendor-item {
  width: 220px;
  height: 146px;
  box-sizing: border-box;
  margin-left: 20px;
  margin-bottom: 20px;
  border:1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
/*логотип производителя*/
.vendor-item img {
  margin: auto;
}

/**************************************************************/

/*----------------------- Сервисы ----------------------------*/

/**************************************************************/
/*контейнер*/
.services {
  min-width: 1200px;
  min-height: 520px;
  /*border: 1px dashed red;*/
}
.services-wrapper {
  display: flex;
  flex-direction: column;
  width: 940px;
  min-height: 520px;
  margin: 0 auto;
  /*border:1px dashed red;*/
}
/*заголовок раздела*/
.services .section-title-header {
  margin-left: 0;
  margin-top: 70px;
}
/*девиз*/
.services-slogan {
  margin-top: 28px;
  width: 400px;
  margin-bottom: 70px;
}
/*контейнер содержимого раздела сервисов*/
.services-block {
  display: flex;
  width: 592px;
  justify-content: flex-start;
}
/*список с кнопками*/
.services-menu {
  position: relative;
  margin:0;
  margin-right: auto;
}
/*кнопка-переключатель типа сервисов*/
.services-link {
  display: block;
  width: 220px;
  height: 60px;
}
/*кнопка переключения сервисов*/
.services-link {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  align-items: center;
}
/*подблок описания услуги*/
.services-description {
  margin: 0;
  width: 274px;
  display: none;
}
/*его заголовок*/
.services-description h3 {
  margin: 0;
  margin-top: 5px;
}
/*и текст*/
.services-description p {
  margin-top: 30px;
  margin-bottom: 28px;
}
/*видимый класс для блоков сервиса*/
.services-description.show {
  display: block;
}

/*------------------------------------------------------------------*/
/*       дополнительная информация в главной части экрана           */
/*------------------------------------------------------------------*/
/*обёртка*/
.main-extrainfo {
  width: 940px;
  margin: 0 auto;
  padding: 80px 132px 84px 130px;
  display: flex;
  justify-content: space-between;
}
/*о компании*/
.ourcompany {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 521px;
}
/*контакты*/
.ourcontacts {
  display: flex;
  flex-direction: column;
  width: 300px;
  /*border: 1px dashed red;*/
}
/*расстановка текста*/
.ourcompany h2, .ourcontacts h2 {
  margin-top: 0;
  margin-bottom: 10px;
}
.ourcontacts-description {
  width: 170px;
}
/*список транспортных компаний*/
.transport-list {
    line-height: 40px;
    margin-left: 36px;
    margin-top: -3px;
}
/*красные кнопки с линками*/
/*кнопка "подробнее о компании"*/
.ourcompany-link {
  width: 220px;
  margin-top: 10px;
}

/*малая карта проезда*/
.ourcontacts-map {
  margin-top: 20px;
}

/*кнопка "заблудились"*/
.ourcontacts-link {
  width: 100%;
  margin-bottom: 0;
  margin-top: auto;
}
/**************************************************************/
/**************************************************************/

/*                          Ф У Т Е Р                         */

/**************************************************************/
/**************************************************************/
/*контейнер для верхнего футера*/
.footer-top {
  min-width: 1200px;
}
.footer-top-wrapper {
  display: flex;
  width: 940px;
  min-height: 193px;
  margin: 0 auto;
  justify-content: space-between;
}
/*левая часть верхнего футера*/
.main-footer-aside {
  /*border: 1px dashed red;*/
}
/*логотип в футере*/
.main-footer-logo {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  border-bottom: 5px solid rgb(181, 41, 51);
  margin-bottom: 26px;
}
/*адрес и телефон в футере*/
.footer-address {
  margin: 0;
  line-height: 24px;
}
/*меню в правой части верхнего футера*/
.footer-navigation {
  margin-top: 38px;
  /*border: 1px dashed red;*/
}
.footer-navigation ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 550px;
}
/*элементы меню верхнего футера*/
.footer-navigation li {
  margin-left: 59px;
  margin-bottom: 37px;
  /*border: 1px dashed red;*/
}
.footer-navigation li:first-child, .footer-navigation li:nth-child(6) {
  margin-left: 0;
}
.footer-navigation-item {
padding: 0;
}
/*-------------------------------------------------------*/
/*------------------- нижний футер-----------------------*/
/*-------------------------------------------------------*/
.footer-bottom {
  min-width: 1200px;
}
.footer-bottom-wrapper {
  width: 940px;
  height: 107px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.copyright {
  width: 230px;
}

/*социальные сети*/
.footer-social {
  margin-left: 158px;
}
.footer-social ul{
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width:133px;
  /*border: 1px dashed red;*/
}
/*обратная связь*/
.feedback {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  /*border: 1px dashed red;*/
  padding: 0;
}
/*разработано*/
.developed {
  display: flex;
  flex-direction: column;
  margin-left: 53px;
  /*border: 1px dashed red;*/
}

/*---------------- модальное окно index write us ----------------*/
/*контейнер*/
.write-us {
  position: fixed;
  min-width: 620px;
  min-height: 430px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  display: none;
}
.write-us.show {
  display: block;
}
/*контейнер для содержимого окна*/
.write-us-wrapper {
  padding: 45px 80px 36px 80px;
  display: flex;
  flex-direction: column;
  /*border: 1px dashed red;*/
}
/*заголовок-имя и email*/
.write-us-header {
  display: flex;
}

.write-us-subheader {
  display: flex;
  flex-direction: column;
}
.email-address {
  /*отступ слева фиксированный - нужно для растягивания окна*/
  margin-left: 20px;
}
.write-us-header input, .write-us-central textarea {
   box-sizing: border-box;
   padding: 10px 15px;
}
.write-us-header input {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 220px;
  height: 37px;
}
.write-us-central textarea {
  margin-top: 10px;
  margin-bottom: 0;
  width: 460px;
  height: 113px;
}
.write-us-bottom {
  height: 114px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.write-us-button {
  /*margin: */
  width: 460px;
  cursor: pointer;
}

/*---------------- модальное окно index map ----------------*/
/*контейнер*/
.map-wrapper {
  position: fixed;
  min-width: 940px;
  min-height: 446px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  display: none;
}
.map-wrapper.show {
  display: block;
}

/***************************************************************************/

/*                     C A T A L O G . H T M L                             */

/***************************************************************************/
.header-middle-wrapper {

}/*блок залогиненного пользователя*/
.logged-in {
  display: none;
  width: 300px;
  margin-left: 50px;
  margin-top: 47px;
  /*border: 1px dashed red;*/
}
.logged-in.show {
  display: block;
}
/* линки на мои заказы и личный кабинет*/
.user-links {
  margin-top: 6px;
}

/* каждый линк на мои заказы и личный кабинет*/
.user-link {
  margin-right: 9px;
  margin-left: 19px;
}


/*********************** основной раздел с товарами ************************/
.catalog-container {
  /*width: 1200px;*/
}
.catalog-container-wrapper {
  width: 940px;
  margin: 20px auto 0 auto;
}

/* *************  breadcrumbs **************/
.breadcrumbs {
  /*width: 940px;*/
}
.breadcrumbs ul {
  margin: 0;
  /*height: 60px;*/
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.breadcrumbs-item {
  /*margin-left: 18px;*/
  margin: 2px 0 22px 16px;
}
.breadcrumbs-item-home {
  margin: 2px 0 22px 0;
}

/* ********** заголовок текущего раздела *********** */
.catalog-header-box {
  margin-bottom: 20px;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
/*текст внутри заголовка*/
.catalog-section-header {
  margin-left: 28px;
}
/*контейнер для фильтра и содержимого каталога*/
.catalog-content {
  display: flex;
  justify-content: space-between;
}
/*фильтр. контейнер*/
.catalog-filter {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  /*border: 1px dashed red;*/
}
/*двойной слайдер в фильтре*/
.filter-sliderbox {
  height: 80px;
}
/*поля для ввода мин. и макс. значений цены*/
.filter-rangebox {
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
}
/*секции фильтра по производителя и по цене*/
.filter-section-vendor, .filter-section-price {
  border-top: 1px solid rgb(247, 243, 236);
  padding: 3px 0 0 0;
}

.filter-section-vendor {
  margin-top: 26px;
}
/*списки в этих секциях*/
.filter-list {
  padding: 0;
  margin-top: 20px;
  /*border: 1px dashed red;*/
}
/*пункты фильтров*/
.filter-item {
  margin-left: 33px;
  margin-bottom: 23px;
}
.filter-item:last-child {
  margin-bottom: 26px;
}
/*кнопка подтверждения фильтра*/
.filter-submit {
  margin-top: 82px;
}

/***********************  правая часть каталога с товарами *********************/
/*включает в себя сортировку, окно с карточками товаров и блок листания страниц*/
.catalog-right {
  width: 700px;
  margin-right: 0;
  display: flex;
  flex-direction: column;
}
/*блок сортировки*/
.catalog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*надписи в блоке сортировки*/
.catalog-header h3 {
  margin: 10px auto 10px 18px;
}
/*то же, члены списка блока сортировки*/
.sorter-list {
  margin: 10px 0 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.sorter-price {
  margin-right: 72px;
}
.sorter-type {
  margin-right: 64px;
}
.sorter-func {
  margin-right: 46px;
}
.sorter-ascending {
  margin-right: 22px;
}
.sorter-descending {
  margin-right: 18px;
}
/*окно с карточками товаров*/
.catalog-list {
  margin-top: 20px;
  /*margin-left: -20px;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
/*плейсхолдер для карточки товара*/
.catalog-item {
  margin: 0 20px 20px 0;
}
/*обнуляем у крайних справа карточек товара правый отступ*/
.catalog-item:nth-child(3n) {
  margin-right: 0;
}
/*кнопки листания страниц*/
.pagenumber-list {
  margin: 0;
  margin-top: 17px;
  display: flex;
}
.pagenumber-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  margin-right: 10px;
  margin-bottom: 62px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 3px;
}

/************* комментарий к разделу ***************/
/*контейнер комментария*/
.category-comment {
  /*width: 1200px;*/
}
.category-comment-wrapper {
  display: flex;
  flex-direction: column;
  width: 940px;
  min-height: 262px;
  margin: 0 auto;
  /*border: 1px dashed red;*/
}
/*заголовок комментария*/
.category-comment-header {
  margin-top: 65px;
}
/*текст комментария*/
.category-comment-text {
  margin-top: 32px;
  margin-bottom: 65px;
}

/*---------------- модальное окно catalog basket ----------------*/
/*контейнер*/
.basket {
  position: fixed;
  min-width: 620px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  display: none;
}
.basket.show {
  display: block;
}
/*контейнер для содержимого окна*/
.basket-wrapper {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
/*заголовок*/
.basket-header {
  font-size: 30px;
  margin: 63px 120px 65px auto;
}

.basket-bottom {
  height: 114px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.basket-button {
  margin-right: 20px;
}
